@use "../../foundations/var" as *;

.c-header__ttl {
    font-size: 1.8rem;
    background: url(../img/header-star.svg) no-repeat;
    margin-left: 3rem;
    padding-left: 5rem;
    line-height: 3;
}

.c-header__list {
    margin-top: 30rem;
    font-size: 1.4rem;
}

.c-header__list__item {

    &:not(:nth-child(1)) {
        border-top: 1px solid;
        border-color: #d9d9d9;
    }
}

.include-accordion ul {
    height: 0;
    padding: 0;
    overflow: hidden;
    transition: height 0.5s ease, padding 0.3s ease;
    margin-left: 1.5rem;
}

.include-accordion ul li {
    transition: opacity 0.3s ease;
}

.include-accordion li li {
    border-bottom: 1px dotted #d9d9d9;
    padding: 2rem 0 2rem 3.7rem;
    cursor: pointer;

    &:nth-child(1) {
        border-top: 1px dotted;
    }
}
.include-accordion li li:hover {
    background-color: #000080;
}

button {
    position: relative;
    border: none;
    width: 100%;
    background-color: inherit;
    color: var(--color-white);
    cursor: pointer;
    padding: 2rem 0 2rem 3.5rem;
    text-align: left;
    font-size: 1.4rem;
}

button:hover {
    background-color: #000080;
}

button::before,
button::after {
    content: "";
    position: absolute;
    top: 50%;
    width: .15rem;
    height: .8rem;
    background-color: #d9d9d9;
    transform: .5s;
}

button::before {
    transform: translateY(-50%) rotate(-45deg);
    right: 35px;
  }

button::after {
    transform: translateY(-50%) rotate(45deg);
    right: 30px;
}

li.active button::before {
    transform: translateY(-50%) rotate(-135deg);
    transition:.5s;
}

li.active button::after {
    transform: translateY(-50%) rotate(135deg);
    transition:.5s;
}

ul.active{ overflow-y: auto;}
